using System;

namespace Practica_2
{
	class Program
	{
		public static void Main(string[] args)
		{
			double P1, P2, P3;
			double rP1, rP2, rP3,total;
			
			Console.WriteLine("dame el primer precio \n" );
			P1=double.Parse(Console.ReadLine());
			
			Console.WriteLine("dame el Segundo precio \n" );
			P2=double.Parse(Console.ReadLine());
			
			Console.WriteLine("dame el Tercer precio \n" );
			P3=double.Parse(Console.ReadLine());
			
			rP1=P1*1.16;
			rP2=P2*1.16;
			rP3=P3*1.16;
			total=rP1+rP2+rP3;
			Console.WriteLine("PRECIO PRODUCTO 1  (IVA) \n" );
			Console.WriteLine(rP1);
			Console.WriteLine("PRECIO PRODUCTO 2  (IVA)\n" );
			Console.WriteLine(rP2);
			Console.WriteLine("PRECIO PRODUCTO 3  (IVA) \n" );
			Console.WriteLine(rP3);
			Console.WriteLine("EL TOTAL ES \n" );
			Console.WriteLine(total);
			
			
				
			Console.Write("Press any key to continue . . . ");
			Console.ReadKey(true);
		}
	}
}
